@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 56 100% 96%;
  --foreground: 0 0% 0%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 0%;
  --primary: 346 100% 56%;
  --primary-foreground: 0 0% 0%;
  --muted: 56 100% 88%;
  --muted-foreground: 0 0% 18%;
  --border: 0 0% 0%;
  --input: 0 0% 0%;
  --ring: 346 100% 56%;
}

* {
  border-color: hsl(var(--border));
}

body {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
}

::selection {
  background: hsl(56 100% 50%);
}
